version: "3.8"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: logc-api:latest
    env_file:
      - .env
    ports:
      - "8000:8000"
    restart: unless-stopped

  dev:
    build:
      context: .
      dockerfile: Dockerfile
    image: logc-api:dev
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./:/usr/src/app:cached
      - /usr/src/app/node_modules
    command: pnpm dev
    stdin_open: true
    tty: true
